<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/dewarim/cinnamon/AclEntryMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/AclEntryPermissionMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/AclMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/ConfigEntryMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/CmnGroupMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/FolderMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/FolderTypeMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/FormatMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/IndexItemMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/LanguageMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/LifecycleMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/LinkMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/MetasetTypeMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/ObjectTypeMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/ObjectSystemDataMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/PermissionMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/RelationMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/RelationTypeMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/SessionMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/UiLanguageMapper.xml"/>
        <mapper resource="com/dewarim/cinnamon/UserAccountMapper.xml"/>
    </mappers>
</configuration>