<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.AclEntryMapper">

    <resultMap id="aclEntryMap" type="com.dewarim.cinnamon.model.AclEntry">
        <id property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="aclId" column="acl_id"/>
    </resultMap>

    <select id="getAclEntriesByGroupIdsAndAcl" parameterType="map" resultMap="aclEntryMap">
        SELECT *
        FROM aclentries WHERE group_id IN
        <foreach item="item" index="index" collection="groupIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND acl_id = #{aclId}
    </select>

    <select id="getAclEntriesByAclId" parameterType="long" resultMap="aclEntryMap">
        SELECT *
        FROM aclentries
        WHERE acl_id = #{aclId}
    </select>
    
    <select id="getAclEntriesByGroupId" parameterType="long" resultMap="aclEntryMap">
        SELECT *
        FROM aclentries
        WHERE group_id = #{groupId}
    </select>
    
    <select id="getAclEntryByAclAndGroupName" parameterType="map" resultMap="aclEntryMap">
        SELECT ae.*
        FROM aclentries ae JOIN groups g on ae.group_id = g.id
        WHERE ae.acl_id = #{aclId} AND g.name = #{groupName}
        
    </select>


</mapper>