<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.Acl">

    <resultMap id="aclMap" type="com.dewarim.cinnamon.model.Acl">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getAclByName" parameterType="String" resultMap="aclMap">
        SELECT *
        FROM acls
        WHERE name = #{name}
    </select>

    <select id="getAclById" parameterType="long" resultMap="aclMap">
        SELECT *
        FROM acls
        WHERE id = #{id}
    </select>

    <select id="getAllById" parameterType="list" resultMap="aclMap">
        SELECT *
        FROM acls
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="update" parameterType="com.dewarim.cinnamon.model.Acl">
        UPDATE acls
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.Acl">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_acl_id')
        </selectKey>
        INSERT INTO acls (id,name) VALUES (#{id}, #{name})
    </insert>

    <delete id="delete" parameterType="list">
        DELETE
        FROM acls
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="list" resultMap="aclMap">
        SELECT *
        FROM acls
    </select>

    <select id="getUserAcls" resultMap="aclMap" parameterType="list">
        SELECT a.* FROM acls a join aclentries ae on a.id = ae.acl_id WHERE ae.group_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>