<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.AclMapper">

    <resultMap id="aclMap" type="com.dewarim.cinnamon.model.Acl">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getAclByName" parameterType="String" resultMap="aclMap">
        SELECT *
        FROM acls
        WHERE name = #{name}
    </select>

    <select id="getAclById" parameterType="long" resultMap="aclMap">
        SELECT *
        FROM acls
        WHERE id = #{id}
    </select>

    <update id="changeAclName" parameterType="com.dewarim.cinnamon.model.Acl">
        UPDATE acls
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <insert id="insertAcl" parameterType="com.dewarim.cinnamon.model.Acl">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_acl_id')
        </selectKey>
        INSERT INTO acls (id,name) VALUES (#{id}, #{name})
    </insert>

    <delete id="deleteAcl" parameterType="long">
        DELETE FROM acls
        WHERE id = #{id}
              AND id NOT IN (select acl_id
                             from links)
              AND id NOT IN (select acl_id
                             from folders)
              AND id NOT IN (select acl_id
                             from objects)
              AND id NOT IN (select acl_id
                             from aclentries)
    </delete>

    <select id="listAcls" resultMap="aclMap">
        SELECT *
        FROM acls
    </select>

    <select id="getUserAcls" resultMap="aclMap" parameterType="list">
        SELECT a.* FROM acls a join aclentries ae on a.id = ae.acl_id WHERE ae.group_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>