<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.LanguageMapper">

    <resultMap id="languageMap" type="com.dewarim.cinnamon.model.Language">
        <id property="id" column="id"/>
        <result property="isoCode" column="iso_code"/>
    </resultMap>

    <select id="list" parameterType="map" resultMap="languageMap">
        SELECT *
        FROM languages
    </select>
    
    <select id="getLanguageById" parameterType="Long" resultMap="languageMap">
        SELECT *
        FROM languages
        WHERE id = #{id}
    </select>


</mapper>