<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.LifecycleStateMapper">

    <resultMap id="LifecycleStateMap" type="com.dewarim.cinnamon.model.LifecycleState">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="config" column="config"/>
        <result property="stateClass" column="state_class"/>
        <result property="lifecycleId" column="life_cycle_id"/>
        <result property="lifecycleStateForCopyId" column="lifecycle_state_for_copy_id"/>
    </resultMap>

    <select id="getLifecycleStateById" parameterType="Long" resultMap="LifecycleStateMap">
        SELECT
            id,
            name,
            config,
            state_class,
            life_cycle_id,
            (select copy_state_id from lifecycle_state_to_copy_state where lifecycle_state_id = #{id}) as lifecycle_state_for_copy_id
        FROM lifecycle_states
        WHERE id = #{id}
    </select>


</mapper>