<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.LifecycleMapper">

    <resultMap id="lifecycleMap" type="com.dewarim.cinnamon.model.Lifecycle">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="defaultStateId" column="default_state_id"/>
    </resultMap>

    <select id="list" parameterType="map" resultMap="lifecycleMap">
        SELECT *
        FROM lifecycles
    </select>
    
    <select id="getLifecycleById" parameterType="Long" resultMap="lifecycleMap">
        SELECT *
        FROM lifecycles
        WHERE id = #{id}
    </select>


</mapper>