<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.LinkMapper">
    
    <resultMap id="linkMap" type="com.dewarim.cinnamon.model.Link">
        <id property="id" column="id"/>
        <result property="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="type"/>
        <result property="resolver" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="resolver"/>
        <result property="userId" column="user_id"/>
        <result property="aclId" column="acl_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="objectId" column="object_id"/>
        <result property="version" column="version"/>
    </resultMap>

    <select id="getLinkById" parameterType="long" resultMap="linkMap">
        SELECT *
        FROM links
        WHERE id = #{id}
    </select>
    
</mapper>