<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.LinkMapper">

    <resultMap id="linkMap" type="com.dewarim.cinnamon.model.Link">
        <id property="id" column="id"/>
        <result property="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="type"/>
        <result property="resolver" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="resolver"/>
        <result property="ownerId" column="owner_id"/>
        <result property="aclId" column="acl_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="objectId" column="osd_id"/>
    </resultMap>

    <select id="getLinkById" parameterType="long" resultMap="linkMap">
        SELECT *
        FROM links
        WHERE id = #{id}
    </select>

    <select id="getLinkByFolderId" parameterType="long" resultMap="linkMap">
        SELECT *
        FROM links
        WHERE parent_id = #{folderId}
    </select>

    <delete id="deleteLink" parameterType="long">
        DELETE FROM links
        WHERE id = #{id}
    </delete>

    <insert id="insertLink" parameterType="com.dewarim.cinnamon.model.Link">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_links_id')
        </selectKey>
        INSERT INTO links (id,type,resolver,owner_id,acl_id,parent_id,folder_id,osd_id,version) VALUES
        (#{id},#{type},#{resolver}, #{ownerId}, #{aclId},#{parentId},#{folderId},#{objectId},0)
    </insert>

    <update id="updateLink" parameterType="com.dewarim.cinnamon.model.Link">
        UPDATE links
        SET acl_id    = #{aclId},
            owner_id  = #{ownerId},
            parent_id = #{parentId},
            osd_id    = #{objectId},
            folder_id = #{folderId},
            resolver  = #{resolver},
            type      = #{type}
        WHERE id = #{id}

    </update>

</mapper>