<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.MetasetTypeMapper">

    <resultMap id="metasetTypeMap" type="com.dewarim.cinnamon.model.MetasetType">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="list" parameterType="map" resultMap="metasetTypeMap">
        SELECT *
        FROM metaset_types
    </select>
    
    <select id="getMetasetTypeById" parameterType="Long" resultMap="metasetTypeMap">
        SELECT *
        FROM metaset_types
        WHERE id = #{id}
    </select>


</mapper>