<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.ObjectSystemDataMapper">

    <resultMap id="osdMap" type="com.dewarim.cinnamon.model.ObjectSystemData">
        <id property="id" column="id"/>
        <result property="applicationName" column="appname"/>
        <result property="contentPath" column="content_path"/>
        <result property="contentSize" column="content_size"/>
        <result property="created" column="created"/>
        <result property="latestBranch" column="latest_branch"/>
        <result property="latestHead" column="latest_head"/>
        <result property="modified" column="modified"/>
        <result property="name" column="name"/>
        <result property="objVersion" column="version"/>
        <result property="cmnVersion" column="cmn_version"/>
        <result property="aclId" column="acl_id"/>
        <result property="creatorId" column="creator_id"/>
        <result property="formatId" column="format_id"/>
        <result property="languageId" column="languageId"/>
        <result property="lockerId" column="locker_id"/>
        <result property="modifierId" column="modifier_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="predecessorId" column="predecessor_id"/>
        <result property="rootId" column="root_id"/>
        <result property="typeId" column="type_id"/>
        <result property="lifecycleStateId" column="state_id"/>
        <result property="contentChanged" column="content_changed"/>
        <result property="metadataChanged" column="metadata_changed"/>
        <result property="summary" column="summary"/>
    </resultMap>

    <select id="getOsdsById" parameterType="list" resultMap="osdMap">
        SELECT *
        FROM objects
        WHERE id IN 
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>