<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.OsdMetaMapper">

    <resultMap id="osdMetaMap" type="com.dewarim.cinnamon.model.OsdMeta">
        <id property="id" column="id"/>
        <result property="osdId" column="osd_id"/>
        <result property="typeId" column="type_id"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="listByOsd" parameterType="long" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE osd_id = #{id}
    </select>

    <select id="getMetasetsByNameAndOsd" parameterType="map" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE osd_id = #{id}
        AND type_id IN (select id from metaset_types where name in
        <foreach item="item" index="index" collection="typeNames"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </select>


</mapper>