<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.RelationTypeMapper">

    <resultMap id="relationTypeMap" type="com.dewarim.cinnamon.model.relations.RelationType">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!-- TODO: rename columns to use snake_case -->
        <result property="rightObjectProtected" column="rightobjectprotected"/>
        <result property="leftObjectProtected" column="leftobjectprotected"/>
        <result property="cloneOnRightCopy" column="clone_on_right_copy"/>
        <result property="cloneOnLeftCopy" column="clone_on_left_copy"/>
        <result property="cloneOnRightVersion" column="clone_on_right_version"/>
        <result property="cloneOnLeftVersion" column="clone_on_left_version"/>
    </resultMap>

    <select id="list" parameterType="map" resultMap="relationTypeMap">
        SELECT *
        FROM relationtypes
    </select>
    
    <select id="getRelationTypeById" parameterType="Long" resultMap="relationTypeMap">
        SELECT *
        FROM relationtypes
        WHERE id = #{id}
    </select>


</mapper>