<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.eclipse" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.ibatis.transaction" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.ibatis.datasource" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.dewarim.cinnamon.model.index.IndexJob.countJobs" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.dewarim.cinnamon.model.index.IndexJob.getIndexJobsByFailedCount" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.dewarim.cinnamon.model.UserAccount" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.dewarim.cinnamon.SessionMapper" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.dewarim.cinnamon.model.Deletion" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.dewarim.cinnamon.filter" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>