<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.ConfigEntry">

    <resultMap id="configEntryMap" type="com.dewarim.cinnamon.model.ConfigEntry">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="publicVisibility" column="public_visibility"/>
    </resultMap>

    <select id="getConfigEntriesByName" parameterType="java.util.List" resultMap="configEntryMap">
        SELECT *
        FROM config_entries
        WHERE name IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.ConfigEntry">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_config_entry_id')
        </selectKey>
        INSERT INTO config_entries (id, name, config, public_visibility) VALUES
        (#{id}, #{name}, #{config}, #{publicVisibility})
    </insert>

    <update id="update" parameterType="com.dewarim.cinnamon.model.ConfigEntry">
        UPDATE config_entries
        SET config            = #{config},
            public_visibility = #{publicVisibility}
        WHERE name = #{name}
    </update>

    <select id="getAllById" parameterType="list" resultMap="configEntryMap">
        SELECT *
        FROM config_entries
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="list" resultMap="configEntryMap">
        SELECT *
        FROM config_entries
    </select>

    <delete id="delete" parameterType="list">
        DELETE
        FROM config_entries
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>