<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.Deletion">

    <resultMap id="deletionMap" type="com.dewarim.cinnamon.model.Deletion">
        <result property="osdId" column="osd_id"/>
        <result property="contentPath" column="content_path"/>
        <result property="deleted" column="is_deleted"/>
        <result property="deleteFailed" column="delete_failed"/>
    </resultMap>

    <select id="list" parameterType="map" resultMap="deletionMap">
        SELECT *
        FROM deletions
    </select>

    <delete id="delete" parameterType="list">
        DELETE
        FROM deletions
        WHERE osd_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="com.dewarim.cinnamon.model.Deletion">
        UPDATE deletions
        SET osd_id       = #{osdId},
            content_path = #{contentPath},
            is_deleted   = #{deleted},
            delete_failed= #{deleteFailed}
            WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.Deletion">
        INSERT INTO deletions(osd_id, content_path, is_deleted, delete_failed)
        VALUES (#{osdId}, #{contentPath}, #{deleted}, #{deleteFailed})
    </insert>

    <select id="getAllById" parameterType="list" resultMap="deletionMap">
        SELECT *
        FROM deletions
        WHERE osd_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getDeletionById" parameterType="long" resultMap="deletionMap">
        SELECT *
        FROM deletions
        WHERE osd_id = #{id}
    </select>

    <select id="listPendingDeletions" resultMap="deletionMap">
        SELECT *
        FROM deletions
        WHERE is_deleted = false AND delete_failed=false
    </select>

</mapper>