<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.FolderMeta">

    <resultMap id="folderMetaMap" type="com.dewarim.cinnamon.model.Meta">
        <id property="id" column="id"/>
        <result property="objectId" column="folder_id"/>
        <result property="typeId" column="type_id"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="listByFolderId" parameterType="long" resultMap="folderMetaMap">
        SELECT *
        FROM folder_meta
        WHERE folder_id = #{id}
    </select>

    <select id="listByFolderIds" parameterType="list" resultMap="folderMetaMap">
        SELECT *
        FROM folder_meta
        WHERE folder_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY id
    </select>

    <select id="getMetasetById" parameterType="long" resultMap="folderMetaMap">
        SELECT *
        FROM folder_meta
        WHERE id = #{id}
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM folder_meta
        WHERE id = #{id}
    </delete>

    <select id="getMetaByTypeIdsAndFolder" parameterType="map" resultMap="folderMetaMap">
        SELECT *
        FROM folder_meta
        WHERE folder_id = #{id}
        AND type_id IN
        <foreach item="item" index="index" collection="typeIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertMeta" parameterType="com.dewarim.cinnamon.model.Meta">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_folder_meta_id')
        </selectKey>
        INSERT INTO folder_meta (id, folder_id, type_id, content) VALUES
        (#{id}, #{objectId}, #{typeId}, #{content})
    </insert>

    <delete id="deleteByFolderIds" parameterType="list">
        DELETE
        FROM folder_meta
        WHERE folder_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getUniqueMetaTypeIdsOfFolder" parameterType="long" resultType="long">
        SELECT type.id
        FROM folder_meta fm
                 join metaset_types type ON fm.type_id = type.id
        WHERE fm.folder_id = #{id}
          AND type.is_unique
    </select>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.Meta">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_folder_meta_id')
        </selectKey>
        INSERT INTO folder_meta (id, folder_id, type_id, content) VALUES
        (#{id}, #{objectId}, #{typeId}, #{content})
    </insert>

    <select id="getAllById" parameterType="list" resultMap="folderMetaMap">
        SELECT *
        FROM folder_meta
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="list" parameterType="list" resultMap="folderMetaMap">
        SELECT *
        FROM folder_meta
    </select>

    <delete id="delete" parameterType="list">
        DELETE
        FROM folder_meta
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="com.dewarim.cinnamon.model.Meta">
        UPDATE folder_meta
        SET content = #{content}
        WHERE id = #{id}
    </update>

</mapper>