<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.Folder">

    <resultMap id="folderMap" type="com.dewarim.cinnamon.model.Folder">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="aclId" column="acl_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="typeId" column="type_id"/>
        <result property="metadataChanged" column="metadata_changed"/>
        <result property="created" column="created"/>
        <result property="summary" column="summary"/>
        <result property="hasSubfolders" column="has_subfolders"/>
    </resultMap>

    <resultMap id="tinyOwnableMap" type="com.dewarim.cinnamon.api.TinyOwnable">
        <result column="id" property="id"/>
        <result column="owner_id" property="ownerId"/>
        <result column="acl_id" property="aclId"/>
    </resultMap>

    <select id="getFoldersById" parameterType="map" resultMap="folderMap">
        SELECT
        id,
        name,
        acl_id,
        owner_id,
        parent_id,
        type_id,
        metadata_changed,
        created,
        CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=f.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
        CASE WHEN #{includeSummary} THEN summary ELSE null END AS summary

        FROM folders f
        WHERE id IN
        <foreach item="item" index="index" collection="idList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFolderByParentAndName" parameterType="map" resultMap="folderMap">
        SELECT id,
               name,
               acl_id,
               owner_id,
               parent_id,
               type_id,
               metadata_changed,
               created,
               CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=f.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
               CASE WHEN #{includeSummary} THEN summary ELSE null END AS summary
        FROM folders f
        WHERE parent_id = #{parentId}
          AND name = #{name}
    </select>

    <select id="getFolderPath" parameterType="long" resultType="String">
        with recursive fp (id, parent_id, name, ids)
                           as (
                select id,
                       parent_id,
                       name,
                       array [id]
                from folders f
                where f.parent_id is null
                union all
                select child.id,
                       child.parent_id,
                       child.name,
                       array_append(ids, child.id)
                from folders child
                         join fp on child.parent_id = fp.id
                where child.parent_id is not null
            )
        select name
        from fp
        where array_length(ids, 1) &lt;= (select array_length(ids, 1)
                                          from fp
                                          where id = #{id})
          and ids &lt;@ (select ids
                         from fp
                         where id = #{id})
    </select>

    <select id="getFolderByIdWithAncestors" parameterType="map" resultMap="folderMap">
        SELECT id,
               name,
               acl_id,
               owner_id,
               parent_id,
               type_id,
               metadata_changed,
               created,
               CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=fo.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
               CASE
                   WHEN #{includeSummary}
                       THEN summary
                   ELSE null END AS summary

        FROM folders fo
        WHERE id in (
            with recursive fp (id, parent_id, name, ids)
                               as (
                    select id,
                           parent_id,
                           name,
                           array [id]
                    from folders f
                    where f.parent_id is null
                    union all
                    select child.id,
                           child.parent_id,
                           child.name,
                           array_append(ids, child.id)
                    from folders child
                             join fp on child.parent_id = fp.id
                    where child.parent_id is not null
                )
            select id
            from fp
            where array_length(ids, 1) &lt;= (select array_length(ids, 1)
                                              from fp
                                              where id = #{id})
              and ids &lt;@ (select ids
                             from fp
                             where id = #{id})
        )
    </select>

    <select id="getRootFolder" parameterType="map" resultMap="folderMap">
        SELECT id,
               name,
               acl_id,
               owner_id,
               parent_id,
               type_id,
               metadata_changed,
               created,
               CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=f.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
               CASE
                   WHEN #{includeSummary}
                       THEN summary
                   ELSE null END AS summary

        FROM folders f
        WHERE name = #{rootFolderName}
          AND parent_id is NULL
    </select>

    <select id="getFolderByParentIdAndChildName" parameterType="map" resultMap="folderMap">
        SELECT id,
               name,
               acl_id,
               owner_id,
               parent_id,
               type_id,
               metadata_changed,
               created,
               CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=f.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
               CASE
                   WHEN #{includeSummary}
                       THEN summary
                   ELSE null END AS summary

        FROM folders f
        WHERE name = #{childName}
          AND parent_id = #{parentId}
    </select>

    <select id="getDirectSubFolders" parameterType="map" resultMap="folderMap">
        SELECT id,
               name,
               acl_id,
               owner_id,
               parent_id,
               type_id,
               metadata_changed,
               created,
               CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=f.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
               CASE
                   WHEN #{includeSummary}
                       THEN summary
                   ELSE null END AS summary

        FROM folders f
        WHERE parent_id = #{id}
    </select>

    <select id="getChildFolderOfRootByName" parameterType="map" resultMap="folderMap">
        SELECT id,
               name,
               acl_id,
               owner_id,
               parent_id,
               type_id,
               metadata_changed,
               created,
               CASE WHEN ((select count(*) from folders subfolers where subfolers.parent_id=f.id limit 1) > 0) THEN true ELSE false END as has_subfolders,
               CASE
                   WHEN #{includeSummary}
                       THEN summary
                   ELSE null END AS summary

        FROM folders f
        WHERE name = #{name}
          AND parent_id = #{id}
    </select>

    <update id="updateFolder">
        UPDATE folders
        SET created          = #{created},
            name             = #{name},
            acl_id           = #{aclId},
            owner_id         = #{ownerId},
            parent_id        = #{parentId},
            type_id          = #{typeId},
            metadata_changed = #{metadataChanged},
            summary          = #{summary}
        WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE folders
        SET created          = #{created},
            name             = #{name},
            acl_id           = #{aclId},
            owner_id         = #{ownerId},
            parent_id        = #{parentId},
            type_id          = #{typeId},
            metadata_changed = #{metadataChanged},
            summary          = #{summary}
        WHERE id = #{id}
    </update>


    <insert id="insertFolder" parameterType="com.dewarim.cinnamon.model.Folder">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_folder_and_object_ids')
        </selectKey>
        INSERT INTO folders
        (id, name, acl_id, owner_id, parent_id, type_id, metadata_changed, summary, created)
        VALUES (#{id}, #{name},#{aclId},#{ownerId},#{parentId},#{typeId},#{metadataChanged},#{summary},#{created})
    </insert>

    <select id="countContent" parameterType="list" resultType="long">
        select count(id) from objects
        where
        <foreach item="item" index="index" collection="list" open="parent_id in (" separator="," close=")"
                 nullable="false">#{item}
        </foreach>
    </select>

    <select id="countSubfolders" parameterType="list" resultType="long">
        select count(f.id) from folders f
        where
            <foreach item="item" index="index" collection="list"
                     open="f.parent_id in (" separator="," close=")" nullable="false">#{item}
            </foreach>
    </select>

    <select id="getFoldersByOwnerId" parameterType="long" resultMap="folderMap">
        select * from folders
        where owner_id = #{id}
    </select>

    <delete id="delete" parameterType="list">
        DELETE
        FROM folders
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="getAllById" parameterType="list" resultMap="folderMap">
        SELECT *
        FROM folders
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getRecursiveSubFolderIds" parameterType="long" resultType="long">
        with recursive sub_folders(id, name, parent_id)
                           as (select f.id, name, parent_id
                               from folders f
                               where f.id = #{id}
                               union all
                               select child.id,
                                      child.name,
                                      child.parent_id
                               from folders child
                                        inner join sub_folders sf on sf.id = child.parent_id)
        select id
        from sub_folders;
    </select>

    <select id="getFoldersAsOwnables" parameterType="java.util.List" resultMap="tinyOwnableMap">
        SELECT id,
        acl_id,
        owner_id
        FROM folders
        WHERE id in <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
    </select>


</mapper>