<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.index.IndexJob">


    <resultMap id="indexJobMap" type="com.dewarim.cinnamon.model.index.IndexJob">
        <id property="id" column="id"/>
        <result property="itemId" column="item_id"/>
        <result property="jobType" column="job_type"/>
        <result property="action" column="action"/>
        <result property="failed" column="failed"/>
    </resultMap>

    <!-- order by item_id to get the newest index_job first -->
    <select id="getIndexJobsByFailedCount" resultMap="indexJobMap">
        SELECT *
        FROM index_jobs
        WHERE failed &lt;= #{failed}
        ORDER BY item_id DESC
    </select>

    <select id="countJobs" resultType="int">
        SELECT count(*)
        FROM index_jobs
    </select>

    <select id="countFailedJobs" resultType="int">
        SELECT count(*)
        FROM index_jobs
        WHERE failed > 0
    </select>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.index.IndexJob">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_index_job_id')
        </selectKey>
        INSERT INTO index_jobs(id, item_id, job_type, action, failed)
        VALUES (#{id}, #{itemId}, #{jobType}, #{action}, 0)
        <!-- We do not need a second "update this index-item" entry  -->
        ON CONFLICT DO NOTHING
    </insert>

    <delete id="delete" parameterType="long">
        DELETE
        FROM index_jobs
        WHERE id = #{id}
    </delete>

    <update id="updateStatus" parameterType="com.dewarim.cinnamon.model.index.IndexJob">
        UPDATE index_jobs
        SET failed=#{failed}
        WHERE id = #{id}
    </update>

    <select id="list" resultMap="indexJobMap">
        SELECT *
        FROM index_jobs
    </select>

    <select id="listFailedIndexJobs" resultMap="indexJobMap">
        SELECT *
        FROM index_jobs
        WHERE failed > 0
    </select>

    <insert id="reindexAllOsds" parameterType="boolean">
        INSERT INTO index_jobs(id, item_id, job_type, action, failed)
        SELECT nextval('seq_index_job_id'), id, 'OSD', 'UPDATE', 0
        FROM objects
        ON CONFLICT DO NOTHING
    </insert>

    <insert id="reindexAllFolders">
        INSERT INTO index_jobs(id, item_id, job_type, action, failed)
        SELECT nextval('seq_index_job_id'), id, 'FOLDER', 'UPDATE', 0
        FROM folders
        ON CONFLICT DO NOTHING
    </insert>

    <insert id="reindexOsds" parameterType="map">
        INSERT INTO index_jobs(id,item_id,job_type,action,failed)
        SELECT nextval('seq_index_job_id'), id,
        'OSD','UPDATE',0 FROM objects
        WHERE objects.id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ON CONFLICT DO NOTHING
    </insert>

    <insert id="reindexFolders" parameterType="list">
        INSERT INTO index_jobs(id,item_id,job_type,action,failed)
        SELECT nextval('seq_index_job_id'), id,
        'FOLDER','UPDATE',0 FROM folders
        WHERE folders.id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ON CONFLICT DO NOTHING
    </insert>

</mapper>