<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.index.IndexEvent">

    <resultMap id="indexLogEventMap" type="com.dewarim.cinnamon.model.index.IndexEvent">
        <id property="id" column="id"/>
        <result property="localTime" column="local_time"/>
        <result property="jobId" column="job_id"/>
        <result property="eventType" column="event_type"/>
        <result property="indexResult" column="index_result"/>
        <result property="message" column="message"/>
    </resultMap>

    <select id="getAllById" parameterType="list" resultMap="indexLogEventMap">
        SELECT *
        FROM index_events
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="update" parameterType="com.dewarim.cinnamon.model.Acl">
        UPDATE index_events
        SET local_time = #{localTime},
            job_id = #{jobId},
            event_type = #{eventType},
            index_result = #{indexResult},
            message = #{message}
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.Acl">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_index_event_id')
        </selectKey>
        INSERT INTO index_events (id, local_time, job_id, event_type, index_result, message) VALUES (#{id}, #{localTime}, #{jobId}, #{eventType}, #{indexResult}, #{message})
    </insert>

    <delete id="delete" parameterType="list">
        DELETE
        FROM index_events
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="list" resultMap="indexLogEventMap">
        SELECT *
        FROM index_events
    </select>

</mapper>