<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.IndexItemMapper">

    <resultMap id="indexItemMap" type="com.dewarim.cinnamon.model.IndexItem">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="fieldName" column="fieldname"/>
        <result property="forContent" column="for_content"/>
        <result property="forMetadata" column="for_metadata"/>
        <result property="forSysMetadata" column="for_sys_meta"/>
        <result property="multipleResults" column="multiple_results"/>
        <result property="searchString" column="search_string"/>
        <result property="vaParams" column="va_params"/>
        <result property="indexTypeName" column="index_type_name"/>
        <result property="searchCondition" column="search_condition"/>
        <result property="storeField" column="store_field"/>
    </resultMap>

    <select id="list" resultMap="indexItemMap">
        SELECT *
        FROM index_items
    </select>

    <select id="getIndexItemById" parameterType="Long" resultMap="indexItemMap">
        SELECT *
        FROM index_items
        WHERE id = #{id}
    </select>

</mapper>