<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.IndexItem">

    <resultMap id="indexItemMap" type="com.dewarim.cinnamon.model.IndexItem">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="fieldName" column="fieldname"/>
        <result property="forContent" column="for_content"/>
        <result property="forMetadata" column="for_metadata"/>
        <result property="forSysMetadata" column="for_sys_meta"/>
        <result property="multipleResults" column="multiple_results"/>
        <result property="searchString" column="search_string"/>
        <result property="searchCondition" column="search_condition"/>
        <result property="storeField" column="store_field"/>
        <result property="indexType" column="index_type"/>
    </resultMap>

    <select id="list" resultMap="indexItemMap">
        SELECT *
        FROM index_items
    </select>

    <select id="getIndexItemById" parameterType="Long" resultMap="indexItemMap">
        SELECT *
        FROM index_items
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="list">
        DELETE
        FROM index_items
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="com.dewarim.cinnamon.model.IndexItem">
        UPDATE index_items
        SET name             = #{name},
            fieldname        = #{fieldName},
            for_content      = #{forContent},
            for_metadata     = #{forMetadata},
            for_sys_meta     = #{forSysMetadata},
            multiple_results = #{multipleResults},
            search_string    = #{searchString},
            search_condition = #{searchCondition},
            store_field      = #{storeField},
            index_type       = #{indexType}
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.IndexItem">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_index_item_id')
        </selectKey>
        INSERT INTO index_items(id, fieldname, for_content, for_metadata, for_sys_meta, multiple_results,
        name, search_string, search_condition, store_field, index_type)
        values (#{id}, #{fieldName},#{forContent},#{forMetadata},#{forSysMetadata},#{multipleResults},
        #{name}, #{searchString},#{searchCondition},#{storeField}, #{indexType} )
    </insert>

    <select id="getAllById" parameterType="list" resultMap="indexItemMap">
        SELECT *
        FROM index_items
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>