<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.links.Link">

    <resultMap id="linkMap" type="com.dewarim.cinnamon.model.links.Link">
        <id property="id" column="id"/>
        <result property="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler" column="type"/>
        <result property="ownerId" column="owner_id"/>
        <result property="aclId" column="acl_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="objectId" column="osd_id"/>
    </resultMap>

    <select id="getLinkById" parameterType="long" resultMap="linkMap">
        SELECT *
        FROM links
        WHERE id = #{id}
    </select>

    <select id="getLinkByFolderId" parameterType="long" resultMap="linkMap">
        SELECT *
        FROM links
        WHERE parent_id = #{folderId}
    </select>

    <delete id="delete" parameterType="list">
        DELETE FROM links
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteAllLinksToObjects" parameterType="map">
        DELETE FROM links
        WHERE osd_id IN
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.links.Link">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_link_id')
        </selectKey>
        INSERT INTO links (id,type,owner_id,acl_id,parent_id,folder_id,osd_id,version) VALUES
        (#{id},#{type}, #{ownerId}, #{aclId},#{parentId},#{folderId},#{objectId},0)
    </insert>

    <update id="updateLink" parameterType="com.dewarim.cinnamon.model.links.Link">
        UPDATE links
        SET acl_id    = #{aclId},
            owner_id  = #{ownerId},
            parent_id = #{parentId},
            osd_id    = #{objectId},
            folder_id = #{folderId},
            type      = #{type}
        WHERE id = #{id}
    </update>

    <select id="getAllById" parameterType="list" resultMap="linkMap">
        SELECT *
        FROM links
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>