<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.MetasetType">

    <resultMap id="metasetTypeMap" type="com.dewarim.cinnamon.model.MetasetType">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="unique" column="is_unique"/>
    </resultMap>

    <select id="list" parameterType="map" resultMap="metasetTypeMap">
        SELECT *
        FROM metaset_types
    </select>
    
    <select id="getMetasetTypeById" parameterType="Long" resultMap="metasetTypeMap">
        SELECT *
        FROM metaset_types
        WHERE id = #{id}
    </select>

    <select id="getAllById" parameterType="list" resultMap="metasetTypeMap">
        SELECT *
        FROM metaset_types
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="update" parameterType="com.dewarim.cinnamon.model.MetasetType">
        UPDATE metaset_types
        SET name = #{name},
            is_unique = #{unique}
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.MetasetType">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_metaset_type_id')
        </selectKey>
        INSERT INTO metaset_types(id, name, is_unique) VALUES (#{id}, #{name}, #{unique})
    </insert>

    <delete id="delete" parameterType="list">
        DELETE
        FROM metaset_types
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>