<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dewarim.cinnamon.model.OsdMeta">

    <resultMap id="osdMetaMap" type="com.dewarim.cinnamon.model.Meta">
        <id property="id" column="id"/>
        <result property="objectId" column="osd_id"/>
        <result property="typeId" column="type_id"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="listByOsd" parameterType="long" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE osd_id = #{id}
        ORDER BY id
    </select>

    <select id="listWithoutContentByOsd" parameterType="long" resultMap="osdMetaMap">
        SELECT id, osd_id, type_id,null as content
        FROM osd_meta
        WHERE osd_id = #{id}
        ORDER BY id
    </select>

    <select id="listByOsds" parameterType="list" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE osd_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY id
    </select>

    <select id="getMetasetById" parameterType="long" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="list">
        DELETE
        FROM osd_meta
        WHERE id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getMetaByTypeIdsAndOsd" parameterType="map" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE osd_id = #{id}
        AND type_id IN
        <foreach item="item" index="index" collection="typeIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY id
    </select>

    <select id="getUniqueMetaTypeIdsOfOsd" parameterType="long" resultType="long">
        SELECT type.id
        FROM osd_meta om
                 join metaset_types type ON om.type_id = type.id
        WHERE om.osd_id = #{id}
          AND type.is_unique
    </select>

    <insert id="insert" parameterType="com.dewarim.cinnamon.model.Meta">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select nextval('seq_osd_meta_id')
        </selectKey>
        INSERT INTO osd_meta (id, osd_id, type_id, content) VALUES
        (#{id}, #{objectId}, #{typeId}, #{content})
    </insert>

    <delete id="deleteByOsdIds" parameterType="list">
        DELETE
        FROM osd_meta
        WHERE osd_id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getAllById" parameterType="list" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="list" parameterType="list" resultMap="osdMetaMap">
        SELECT *
        FROM osd_meta
    </select>

    <update id="update" parameterType="com.dewarim.cinnamon.model.Meta">
        UPDATE osd_meta
        SET content = #{content}
        WHERE id = #{id}
    </update>

</mapper>