<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="username">cinnamon</entry>
    <entry key="password">cinnamon</entry>
    <entry key="driver">org.postgresql.Driver</entry>
    <entry key="url">jdbc:postgresql://localhost:5432/cinnamon_test</entry>
</properties>